<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
  "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="600px" height="126px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <title>Cyan★Nyan♪ | Last.fm Now Playing Banner</title>
  <defs>
    <style type="text/css"><![CDATA[
      <%= render partial: "lastfm/styles", formats: [:css] %>
      <%= render partial: "lastfm/fonts", formats: [:css] %>
    ]]></style>
    <pattern id="background" patternUnits="userSpaceOnUse" width="600" height="126" x="0" y="0">
      <image href="<%= vite_url_to_base64(vite_asset_url("images/lastfm.webp")) %>" x="0" y="0" width="600" height="126"></image>
    </pattern>
  </defs>

  <rect width="600" height="126" fill="url(#background)"></rect>
  <foreignObject width="600px" height="126px">
    <%= render partial: "lastfm/content", formats: [:html] %>
  </foreignObject>
</svg>
