<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN"
  "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg width="600px" height="122px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
  <title>aldwin7894 | LastFM Now Playing Banner</title>
  <defs>
    <style type="text/css"><![CDATA[
      <%= render partial: "lastfm/styles", formats: [:css] %>
    ]]></style>
    <!-- <script type="text/javascript"><![CDATA[
      <%= render partial: "timer", formats: [:js] %>
    ]]>
    </script> -->
  </defs>

  <foreignObject width="600px" height="122px">
    <%= render partial: "lastfm/content", formats: [:html] %>
  </foreignObject>

  <!-- <script type="text/javascript" href="https://static.cloudflareinsights.com/beacon.min.js" xlink:href="https://static.cloudflareinsights.com/beacon.min.js?token=66cf457ccd354aaf9dee4caacb4b5271"></script> -->
</svg>
