<% bgs = (1..10).to_a.shuffle %>

<section class="relative flex w-dvw h-dvh max-h-dvh font-sans" x-data="{swiper:null}">
  <div id="anilist-carousel" class="absolute top-0 left-0 size-full swiper" x-init="swiper = new Swiper('#anilist-carousel', { modules: [Navigation, Autoplay, EffectFade], effect: 'fade', loop: true, speed: 3000, threshold: 40, autoplay: { delay: 10000, disableOnInteraction: false }, fadeEffect: { crossFade: true }, });">
    <div class="swiper-wrapper">
      <% bgs.each do |num| %>
        <div class="swiper-slide background-ailane-<%= num %>">
          <img src="<%= vite_asset_path "images/ailane-bg-#{num}.webp" %>" alt="carousel-item" class="hidden visually-hidden"/>
        </div>
      <% end %>
    </div>
  </div>

  <div class="z-10 flex flex-col flex-1 pointer-events-none bg-gradient-to-br from-cyan-500/70 to-pink-500/70 overflow-hidden">
    <%= yield %>
  </div>
</section>
