<turbo-stream target="anilist" action="update">
  <template>
    <% if @error || !@success %>
      <%= render partial: "anilist/new", formats: [:html] %>

      <% if @error %>
        <script>
          Alpine.store("toasts").createToast("<%= @error.html_safe.force_encoding("UTF-8") %>", "error");
        </script>
      <% end %>
    <% else %>
      <div class="flex flex-col flex-1 w-full py-4 backdrop-blur-sm p6-4">
        <div class="max-w-sm mx-auto mb-6 font-sans text-3xl font-semibold text-center text-black dark:text-white">
          <div class="pointer-events-auto">
            <span class="dark:opacity-80">Take me</span>
            <%= link_to "Back", anilist_index_path, class: "hover:text-[#3DB4F2] border-b", target: "anilist" %>
          </div>
        </div>
        <div class="justify-items-center container relative text-center">
          <div class="max-w-lg w-full pb-5 border-b-4 border-blue-400 rounded-md pointer-events-auto dark:bg-fg--dark/90 bg-fg--light/80 h-fit mx-auto px-10 py-5 flex flex-col gap-4">
            <iconify-icon icon="material-symbols:check-circle-rounded" width="100" class="mx-auto text-green-400"></iconify-icon>
            <h1 class="text-2xl font-bold dark:text-text--dark text-text--light">
              Added to the queue successfully, processing might take some time and could also be delayed if there are a lot in the queue. Check its progress with the provided link below.
            </h1>
            <%= link_to "Link", anilist_path(id: @job_id), class: "flex items-center px-4 py-3 font-medium text-white rounded cursor-pointer bg-cyan-700 hover:bg-cyan-600  justify-center", data: { turbo: false } %>
          </div>
        </div>
      </div>
    <% end %>
  </template>
</turbo-stream>
