<% bgs = (1..10).to_a.shuffle %>

<% content_for :head_content do %>
  <% bgs.each do |num| %>
    <link rel="preload" as="image" href="<%= vite_asset_path("images/ailane-bg-#{num}.webp") %>">
  <% end %>
<% end %>

<section>
  <div class="carousel slide carousel-fade relative flex w-screen min-h-[calc(100vh-56px)] font-sans" data-bs-ride="carousel" data-bs-interval="5000" data-bs-pause="false">
    <div class="carousel-inner relative flex-1">
      <% bgs.each_with_index do |num, i| %>
        <div class="w-full h-full carousel-item relative float-left background-ailane-<%= num %> <%= i == 0 ? "active" : "" %>">
        </div>
      <% end %>

      <div class="dark:bg-bg--dark/80 bg-bg--light/80 relative z-10 flex min-h-full">
        <turbo-frame id="anilist" class="flex items-center justify-center flex-1">
          <%= render "anilist/new" %>
        </turbo-frame>
      </div>
    </div>
  </div>
</section>
