<% bgs = (1..10).to_a.shuffle %>

<section x-data="{swiper:null}">
  <div class=" relative flex w-screen min-h-[calc(100vh-56px)] xs:min-h-[calc(100vh-116px)] max-h-[calc(100vh-56px)] xs:max-h-[calc(100vh-116px)] font-sans ">
    <div id="anilist-carousel" class="absolute top-0 left-0 w-full h-full swiper" x-init="swiper = new Swiper('#anilist-carousel', { modules: [Navigation, Autoplay, EffectFade], effect: 'fade', loop: true, speed: 3000, threshold: 40, autoplay: { delay: 10000, disableOnInteraction: false }, fadeEffect: { crossFade: true }, }); swiper.translateTo(window.screen.width * -1, 0, false, false);">
      <div class="swiper-wrapper">
        <% bgs.each do |num| %>
          <div class="swiper-slide background-ailane-<%= num %>">
            <img src="<%= vite_asset_path "images/ailane-bg-#{num}.webp" %>" alt="carousel-item" class="hidden visually-hidden"/>
          </div>
        <% end %>
      </div>
    </div>
    <div class="relative z-10 flex w-full pointer-events-none bg-gradient-to-br from-cyan-500/80 to-pink-500/80 tablet:overflow-y-hidden">
      <turbo-frame id="anilist" class="flex justify-center flex-1">
        <%= render "anilist/new" %>
      </turbo-frame>
    </div>
  </div>
</section>
