.background-1 {
  background-image: url("@/images/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-1 {
  background-image: url("@/images/cyan-bg-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-2 {
  background-image: url("@/images/cyan-bg-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-3 {
  background-image: url("@/images/cyan-bg-3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-4 {
  background-image: url("@/images/cyan-bg-4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-5 {
  background-image: url("@/images/cyan-bg-5.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-6 {
  background-image: url("@/images/cyan-bg-6.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-7 {
  background-image: url("@/images/cyan-bg-7.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-8 {
  background-image: url("@/images/cyan-bg-8.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-9 {
  background-image: url("@/images/cyan-bg-9.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-10 {
  background-image: url("@/images/cyan-bg-10.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-11 {
  background-image: url("@/images/cyan-bg-11.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-12 {
  background-image: url("@/images/cyan-bg-12.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-13 {
  background-image: url("@/images/cyan-bg-13.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-14 {
  background-image: url("@/images/cyan-bg-14.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-15 {
  background-image: url("@/images/cyan-bg-15.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-1 {
  background-image: url("@/images/ailane-bg-1.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-2 {
  background-image: url("@/images/ailane-bg-2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-3 {
  background-image: url("@/images/ailane-bg-3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-4 {
  background-image: url("@/images/ailane-bg-4.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-5 {
  background-image: url("@/images/ailane-bg-5.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-6 {
  background-image: url("@/images/ailane-bg-6.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-7 {
  background-image: url("@/images/ailane-bg-7.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-8 {
  background-image: url("@/images/ailane-bg-8.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-9 {
  background-image: url("@/images/ailane-bg-9.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-ailane-10 {
  background-image: url("@/images/ailane-bg-10.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
