/* source-sans-pro-regular - latin-ext_cyrillic-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-regular.svg#SourceSansPro")
      format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-600 - latin-ext_cyrillic-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-600.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-600.woff")
      format("woff"),
    /* Modern Browsers */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-600.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-600.svg#SourceSansPro")
      format("svg");
  /* Legacy iOS */
}

/* source-sans-pro-700 - latin-ext_cyrillic-ext */
@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-700.woff")
      format("woff"),
    /* Modern Browsers */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-700.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("@/fonts/source-sans-pro-v21-latin-ext_cyrillic-ext-700.svg#SourceSansPro")
      format("svg");
  /* Legacy iOS */
}

/* inter-regular - latin-ext_cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("@/fonts/inter-v12-latin-ext_cyrillic-ext-regular.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("@/fonts/inter-v12-latin-ext_cyrillic-ext-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("@/fonts/inter-v12-latin-ext_cyrillic-ext-regular.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("@/fonts/inter-v12-latin-ext_cyrillic-ext-regular.woff")
      format("woff"),
    /* Modern Browsers */
      url("@/fonts/inter-v12-latin-ext_cyrillic-ext-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("@/fonts/inter-v12-latin-ext_cyrillic-ext-regular.svg#Inter")
      format("svg");
  /* Legacy iOS */
}

/* inter-600 - latin-ext_cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("@/fonts/inter-v12-latin-ext_cyrillic-ext-600.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("@/fonts/inter-v12-latin-ext_cyrillic-ext-600.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("@/fonts/inter-v12-latin-ext_cyrillic-ext-600.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("@/fonts/inter-v12-latin-ext_cyrillic-ext-600.woff") format("woff"),
    /* Modern Browsers */
      url("@/fonts/inter-v12-latin-ext_cyrillic-ext-600.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("@/fonts/inter-v12-latin-ext_cyrillic-ext-600.svg#Inter")
      format("svg");
  /* Legacy iOS */
}

/* inter-700 - latin-ext_cyrillic-ext */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("@/fonts/inter-v12-latin-ext_cyrillic-ext-700.eot");
  /* IE9 Compat Modes */
  src: local(""),
    url("@/fonts/inter-v12-latin-ext_cyrillic-ext-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("@/fonts/inter-v12-latin-ext_cyrillic-ext-700.woff2")
      format("woff2"),
    /* Super Modern Browsers */
      url("@/fonts/inter-v12-latin-ext_cyrillic-ext-700.woff") format("woff"),
    /* Modern Browsers */
      url("@/fonts/inter-v12-latin-ext_cyrillic-ext-700.ttf") format("truetype"),
    /* Safari, Android, iOS */
      url("@/fonts/inter-v12-latin-ext_cyrillic-ext-700.svg#Inter")
      format("svg");
  /* Legacy iOS */
}
