<div class="font-sans background-cyan-2 h-screen flex flex-col w-full">
  <div class="flex h-screen bg-gradient-to-br from-cyan-700/90 to-pink-500/90">
    <div class="m-auto">
      <div class="relative w-full text-center">
        <h1 class="animate-bounce font-bold text-white text-5xl xs:text-6xl lg:text-8xl">
          Under Construction
        </h1>
      </div>
    </div>
  </div>
</div>
