<section class="flex-1 w-full background-cyan-<%= [1,2,3,4,5,6,7,8,9].shuffle.first %> phone:bg-auto laptop:bg-[length:150%] laptop:bg-[right_-30vh_top_-30vh]">
  <div class="bg-gradient-to-t from-[#453c64]/90 to-cyan-400/50">
    <div class="md:container md:mx-auto">
      <div class="flex flex-col items-center py-16 min-h-[60vh]">
        <div>
          <%= image_tag vite_asset_path("images/cyan-avatar.webp"), class: "outline outline-white outline-5 rounded-full max-w-sm", width: 150, height: 150, alt: "avatar" %>
        </div>
        <div class="my-2 text-3xl font-medium text-white">Cyan★Nyan♪</div>
        <div class="text-slate-700 px-2 bg-white">/aldwin7894/</div>
        <div class="flex flex-row flex-wrap justify-center gap-4 my-auto" x-data="">
          <button x-on:click="window.open('https://bit.ly/cyan-anilist')" class="text-white hover:text-[#02a9ff] h-fit">
            <iconify-icon icon="simple-icons:anilist" width="50"></iconify-icon>
          </button>
          <button x-on:click="window.open('https://bit.ly/cyan-mal')" class="h-fit text-white">
            <iconify-icon icon="simple-icons:myanimelist" width="50" class="hover:bg-[#2f52a2] px-2 rounded-md"></iconify-icon>
          </button>
          <button x-on:click="window.open('https://spoti.fi/3PRGOmq')" class="text-white hover:text-[#1ed760] h-fit">
            <iconify-icon icon="akar-icons:spotify-fill" width="50"></iconify-icon>
          </button>
          <button x-on:click="window.open('https://bit.ly/cyan-lastfm')" class="text-white hover:text-[#ba0000] h-fit">
            <iconify-icon icon="brandico:lastfm-rect" width="50" class="hover:bg-white rounded-[10px]"></iconify-icon>
          </button>
          <button x-on:click="window.open('https://bit.ly/cyan-musicbrainz')" class="text-white hover:text-[#eb743b] h-fit">
            <iconify-icon icon="simple-icons:musicbrainz" width="50"></iconify-icon>
          </button>
          <button x-on:click="window.open('https://bit.ly/cyan-youtube')" class="text-white hover:text-[#ff0000] h-fit">
            <iconify-icon icon="simple-icons:youtube" width="50"></iconify-icon>
          </button>
          <button x-on:click="window.open('https://bit.ly/cyan-twitch')" class="text-white hover:text-[#a970ff] h-fit">
            <iconify-icon icon="simple-icons:twitch" width="50"></iconify-icon>
          </button>
          <button x-on:click="window.open('https://bit.ly/cyan-steam')" class="text-white hover:text-[#075a8e] h-fit">
            <iconify-icon icon="simple-icons:steam" width="50" class="hover:bg-white hover:outline-[#075a8e] outline-2 outline outline-offset-[-1px] rounded-full"></iconify-icon>
          </button>
          <button x-on:click="window.open('https://bit.ly/cyan-osu')" class=" h-fit text-white">
            <iconify-icon icon="simple-icons:osu" width="50" class="hover:bg-[#f170aa] rounded-full"></iconify-icon>
          </button>
          <button x-on:click="window.open('https://bit.ly/cyan-github')" class="hover:text-[#171a1e] text-white h-fit">
            <iconify-icon icon="simple-icons:github" width="50" class="hover:bg-white hover:outline-[#171a1e] outline-2 outline outline-offset-[-1px] rounded-full"></iconify-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "partials/divider" %>
