<% 5.times.each do %>
  <div class="flex flex-col gap-2 animate-pulse">
    <button class="mx-auto h-[250px] w-[177.5px] rounded-lg bg-slate-200 drop-shadow-lg">
    </button>
    <div class="w-full h-[24px] rounded-lg bg-slate-200">
    </div>
    <div class="w-full h-[20px] rounded-lg bg-slate-200">
    </div>
    <div class="w-full h-[16px] rounded-lg bg-slate-200">
    </div>
  </div>
<% end %>
