<div class="animate-pulse flex flex-row gap-2 my-10 text-4xl">
  <div class="w-[40px] h-[40px] rounded-full bg-slate-200"></div>
  <div class="w-[40%] h-[40px] rounded-lg bg-slate-200"></div>
</div>
<div class="animate-pulse phone:grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 desktop-lg:grid-cols-6 grid gap-5 text-center min-h-[322px]">
  <% 6.times.each do %>
    <div class="flex flex-col items-center gap-1">
      <div class="bg-slate-200 drop-shadow-lg w-full max-w-[240px] h-[350px] mx-auto rounded-lg">
      </div>
      <div class="w-[65%] h-[24px] rounded-lg bg-slate-200">
      </div>
      <div class="w-full h-[20px] rounded-lg bg-slate-200">
      </div>
      <div class="w-[80%] h-[16px] rounded-lg bg-slate-200">
      </div>
    </div>
  <% end %>
</div>
