<div class="animate-pulse flex flex-col items-center gap-1">
  <div class="dark:bg-slate-200 bg-slate-800 drop-shadow-lg w-full max-w-[240px] h-[350px] mx-auto rounded-lg">
  </div>
  <div class="w-[55%] h-[18px] rounded-lg dark:bg-slate-200 bg-slate-800">
  </div>
  <div class="w-[85%] h-[22px] rounded-lg dark:bg-slate-200 bg-slate-800">
  </div>
  <div class="w-[65%] h-[14px] rounded-lg dark:bg-slate-200 bg-slate-800">
  </div>
</div>
