<section class="flex-1 mb-20">
  <div class="container w-full mx-auto">
    <h2 class="flex flex-row items-center gap-1 my-10 text-2xl dark:text-white phone:text-center tablet:text-left tablet:text-4xl">
      <iconify-icon icon="mdi:timer-play" width="35"></iconify-icon>
      Recently watched episodes
    </h2>
    <turbo-frame id="watched_anime_section" src="<%= watched_anime_section_path %>" loading="lazy" class="relative min-h-[322px] block" x-data="{swiper: null}">
      <div></div>
    </turbo-frame>

    <h2 class="flex flex-row items-center gap-1 my-10 text-2xl dark:text-white phone:text-center tablet:text-left tablet:text-4xl">
      <iconify-icon icon="mdi:timer-play" width="35"></iconify-icon>
      Recently watched movies&nbsp;/&nbsp;ova&nbsp;/&nbsp;specials
    </h2>
    <turbo-frame id="watched_movie_section" src="<%= watched_movie_section_path %>" loading="lazy" class="relative min-h-[322px] block" x-data="{swiper: null}">
      <div></div>
    </turbo-frame>
  </div>
</section>
