<turbo-frame id="favorite_anime_studios">
  <div class="flex flex-col w-full h-full px-4 py-4 text-white">
    <a href="https://anilist.co/user/CyanNyan/stats/anime/studios" rel="noopener noreferrer" class="hover:underline text-lg font-bold text-left text-white">
      <h2>FAVORITE ANIME STUDIOS</h2>
    </a>
    <div class="flex flex-row">
      <div class="grow flex flex-col min-w-[150px]">
        <div>
          <ul>
            <% @studio_list.each do |studio| %>
              <li class="flex flex-row gap-2 mt-2">
                <div class="min-w-[20px] min-h-[20px] my-auto" style="background: <%= studio[:backgroundColor] %>"></div>
                <h3><%= studio[:label] %></h3>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="mx-auto max-w-[300px]">
        <canvas id="favoriteStudios" aria-label="Favorite Anime Studios" role="img">
          Your browser does not support the canvas element.
        </canvas>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('turbo:frame-load', (event) => {
      if (event.target.id === "favorite_anime_studios") {
        const studio = document.getElementById('favoriteStudios').getContext('2d');
        const studioChart = new Chart(studio, {
          type: 'pie',
          options: {
            responsive: true,
            layout: {
              padding: 20
            },
            plugins: {
              legend: {
                display: false,
              }
            },
            elements: {
              arc: {
                borderWidth: 0
              }
            }
          },
          data: JSON.parse(`<%= raw @studio_chart_data %>`),
          plugins: []
        });
      }
    });
  </script>
</turbo-frame>
