<turbo-frame id="favorite_anime_genres">
  <div class="flex flex-col w-full h-full px-4 py-4 text-white">
    <a href="https://anilist.co/user/CyanNyan/stats/anime/genres" rel="noopener noreferrer" target="_blank" class="text-lg font-bold text-left text-white hover:underline">
      <h2>FAVORITE ANIME GENRES</h2>
    </a>
    <div class="flex flex-row">
      <div class="grow flex flex-col min-w-[150px]">
        <div>
          <ul>
            <% @genre_list&.each do |genre| %>
              <li class="flex flex-row gap-2 mt-2">
                <div class="min-w-[20px] min-h-[20px] my-auto" style="background: <%= genre[:backgroundColor] %>"></div>
                <h3><%= genre[:label] %></h3>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="mx-auto max-w-[300px]">
        <canvas id="favoriteGenres" aria-label="Favorite Anime Genres">
          Your browser does not support the canvas element.
        </canvas>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('turbo:frame-load', (event) => {
      if (event.target.id === "favorite_anime_genres") {
        const genre = document.getElementById('favoriteGenres').getContext('2d');
        const genreChart = new Chart(genre, {
          type: 'pie',
          options: {
            responsive: true,
            rotation: -90,
            layout: {
              padding: 20
            },
            plugins: {
              legend: {
                display: false,
              }
            },
            elements: {
              arc: {
                borderWidth: 4,
                borderColor: "#4c3575"
              }
            }
          },
          data: JSON.parse(`<%= raw @genre_chart_data %>`),
          plugins: []
        });
      }
    });
  </script>
</turbo-frame>
