<turbo-frame id="total_watched_anime">
  <h3 class="font-mono text-2xl font-bold">
    <%= @total_watched_anime_time %>
  </h3>
  <h3>ALL TIME</h3>
  <h3>
    <%= @total_watched_anime_ep %> episodes
  </h3>
</turbo-frame>
