<turbo-frame id="total_watched_anime">
  <div class="font-mono text-2xl font-bold">
    <%= @total_watched_anime_time %>
  </div>
  <div>ALL TIME</div>
  <div>
    <%= @total_watched_anime_ep %> episodes
  </div>
</turbo-frame>
