<turbo-frame id="total_watched_anime_last_week">
  <h3 class="font-mono text-2xl font-bold">
    <%= @total_watched_anime_time_last_week %>
  </h3>
  <h3>LAST WEEK</h3>
  <h3>
    <%= @total_watched_anime_ep_last_week %> episodes
  </h3>
</turbo-frame>
