<turbo-frame id="total_watched_anime_movie">
  <div class="font-mono text-2xl font-bold">
    <%= @total_watched_anime_movie_time %>
  </div>
  <div>ALL TIME</div>
  <div>
    <%= @total_watched_anime_movie %> movies / ova / specials
  </div>
</turbo-frame>
