<turbo-frame id="total_watched_anime_movie">
  <h3 class="font-mono text-2xl font-bold">
    <%= @total_watched_anime_movie_time %>
  </h3>
  <h3>ALL TIME</h3>
  <h3>
    <%= @total_watched_anime_movie %> movies / ova / specials
  </h3>
</turbo-frame>
