<turbo-frame id="total_watched_anime_last_week">
  <h3 class="font-mono text-lg" data-tippy="tooltip" data-tippy-content="<%= @total_watched_anime_time_last_week_mins&.to_fs(:delimited) %>m">
    <% @total_watched_anime_time_last_week.each do |time, uom| %>
      <span class="text-2xl font-bold"><%= time %></span><%= uom %>
    <% end %>
  </h3>
  <h3>LAST WEEK</h3>
  <h3 class="text-white text-opacity-80">
    <%= @total_watched_anime_ep_last_week&.to_fs(:delimited) %>
    episodes
  </h3>
</turbo-frame>
