<turbo-frame id="total_watched_anime_movie_last_week">
  <div class="font-mono text-2xl font-bold">
    <%= @total_watched_anime_movie_time_last_week %>
  </div>
  <div>LAST WEEK</div>
  <div>
    <%= @total_watched_anime_movie_last_week %> movies / ova / specials
  </div>
</turbo-frame>
