<turbo-frame id="total_watched_anime_movie_last_week">
  <h3 class="font-mono text-2xl font-bold">
    <%= @total_watched_anime_movie_time_last_week %>
  </h3>
  <h3>LAST WEEK</h3>
  <h3>
    <%= @total_watched_anime_movie_last_week %> movies / ova / specials
  </h3>
</turbo-frame>
