<turbo-frame id="watched_movie_section">
  <div class="absolute inset-y-0 left-[-10px] z-10 flex items-center pointer-events-none">
    <button id="watched_movie_prev" class="disabled:invisible disabled:pointer-events-none bg-[#019edf] text-white visible lg:-ml-4 focus:outline-none flex items-center justify-center w-10 h-10 -ml-2 rounded-full shadow pointer-events-auto">
      <iconify-icon icon="material-symbols:chevron-left" width="30" height="30"></iconify-icon>
    </button>
  </div>
  <div class="right-[-10px] absolute inset-y-0 z-10 flex items-center pointer-events-none">
    <button id="watched_movie_next" class="disabled:invisible disabled:pointer-events-none bg-[#019edf] text-white visible lg:-mr-4 focus:outline-none flex items-center justify-center w-10 h-10 -mr-2 rounded-full shadow pointer-events-auto">
      <iconify-icon icon="material-symbols:chevron-right" width="30" height="30"></iconify-icon>
    </button>
  </div>

  <div
    id="watched_movie_swiper"
    class="overflow-hidden"
    x-init="swiper = new Swiper('#watched_movie_swiper', { modules: [Navigation], slidesPerView: 'auto', spaceBetween: 20, speed: 500, breakpoints: { 320: { slidesPerView: 1 }, 576: { slidesPerView: 2 }, 900: { slidesPerView: 3 }, 1100: { slidesPerView: 4 }, 1350: { slidesPerView: 5 }, 1600: { slidesPerView: 6 } }, navigation: { disabledClass: 'disabled', hiddenClass: 'invisible', prevEl: '#watched_movie_prev', nextEl: '#watched_movie_next' } });"
  >
    <div class="text-center swiper-wrapper">
      <% @watched_movie.each_slice(6).first(4).each_with_index do |(*activities), index| %>
        <% activities.each_index do |index2| %>
          <turbo-frame id="watched_movie_<%= "#{index}_#{index2}" %>" src="<%= anilist_user_activities_path %>" loading="lazy" class="swiper-slide">
            <%= render "home/watched_placeholder" %>
          </turbo-frame>
        <% end %>
      <% end %>
    </div>
  </div>
</turbo-frame>
