@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./utils/randomNum.css.scss";
@import "./utils/fonts.css.scss";
@import "./utils/backgrounds.css.scss";

@layer base {
  html {
    font-family: "Source Sans Pro", Inter, sans-serif;
  }
}

@media print {
  * {
    display: none;
  }
}

main {
  opacity: 0;
}

[x-cloak] {
  display: none !important;
}

.turbo-progress-bar {
  height: 10px;
  background-color: cyan;
}

#equalizer {
  background: transparent;
  position: absolute;
  bottom: 0;
  z-index: -1;

  div[class^="eq-bar"] {
    width: 2vw;
    animation: equalize 5s linear 2s infinite alternate;
    height: 3px;
    background: #fafafa;
    transition: 0.5s;
    opacity: 60%;
    animation-delay: -1.9s;
  }

  .eq-bar-0 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-1 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-2 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-3 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-4 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-5 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-6 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-7 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-8 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-9 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-10 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-11 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-12 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-13 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-14 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-15 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-16 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-17 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-18 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-19 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-20 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-21 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-22 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-23 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-24 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-25 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-26 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-27 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-28 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-29 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-30 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-31 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-32 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-33 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-34 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-35 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-36 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-37 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-38 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-39 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-40 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-41 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-42 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-43 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-44 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-45 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-46 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-47 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-48 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-49 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }

  .eq-bar-50 {
    animation-duration: #{randomNum(500, 2000)}ms !important;
  }
}

@keyframes equalize {
  0% {
    height: 3px;
  }

  100% {
    height: 130px;
  }
}

.shine {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 1;
  transform: rotate(30deg);
  transform-origin: top right;
  width: 100%;
  height: 65%;
  opacity: 0.3;
  background: linear-gradient(
    0turn,
    transparent 0%,
    rgba(200, 200, 200, 0.4) 5%,
    rgba(255, 255, 255, 0.2) 15%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transition: height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.shine-effect {
  position: relative;
  display: flex;
  overflow: hidden;
  transform-origin: 100% 0;
  transition: transform 0.3s ease-in-out;

  &:hover {
    .shine {
      height: 100%;
      opacity: 1;
    }
  }
}

.popover-body {
  white-space: pre;
}

.animate__fadeIn,
.animate__fadeOut {
  will-change: opacity;
}
