@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./utils/fonts.css.scss";

@layer base {
  html {
    font-family: 'Source Sans Pro', Inter, sans-serif;
  }
}

.background-1 {
  background-image: url('@/images/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-1 {
  background-image: url('@/images/cyan-bg-1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-2 {
  background-image: url('@/images/cyan-bg-2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-3 {
  background-image: url('@/images/cyan-bg-3.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-4 {
  background-image: url('@/images/cyan-bg-4.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-5 {
  background-image: url('@/images/cyan-bg-5.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-6 {
  background-image: url('@/images/cyan-bg-6.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-7 {
  background-image: url('@/images/cyan-bg-7.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-8 {
  background-image: url('@/images/cyan-bg-8.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-9 {
  background-image: url('@/images/cyan-bg-9.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.error-text {
  font-size: 130px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .error-text {
    font-size: 180px;
  }
}
