@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.background-1 {
  background-image: url('@/images/bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-1 {
  background-image: url('@/images/cyan-bg-1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-2 {
  background-image: url('@/images/cyan-bg-2.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.background-cyan-3 {
  background-image: url('@/images/cyan-bg-3.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

* {
  font-family: "Whitney SSm A", "Whitney SSm B", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
}

.error-text {
  font-size: 130px;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .error-text {
    font-size: 220px;
  }
}
