$footer-padding: $size-12 0;
$footer-bg:      #F7F7F7;
$footer-color:   $text;

.footer {
  border-top: 3px solid $gold;
  background:    $footer-bg;
  color:         $footer-color;
  padding:       $footer-padding;
  font-size: 14px;

  @include element(link) {
    color: $footer-color;

    &:hover,
    &:focus {
      color: $footer-color;
      text-decoration: underline;
    }
  }
}
