html,
body {
  // height:                    100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  // display:                   flex;
  // flex-direction:            column;
  font-family:               $global-font-family;
  font-size:                 $global-font-size;
  color:                     $global-color;
  // line-height:               $global-line-height;
  // background:                $body-background;

  // @if $body-antialiased == true {
  //   -webkit-font-smoothing:  antialiased;
  //   -moz-osx-font-smoothing: grayscale;
  // }

  // @if $text-rendering == true {
  //   text-rendering:          optimizeLegibility;
  // }
}

main {
  flex:                      1 0 auto;
  padding-top: 128px; // Topbar height

  @include media-breakpoint-down(md) {
    padding-top: 95px; // Topbar height
  }
}

.end,
footer {
  flex-shrink:               0;
}

*:hover, *:focus{
  outline: none;
}

a {
  color: $global-color;
  text-decoration: none;
  @include default-transition;

  // State: hover
  &:hover,
  &:focus {
    color: $global-link-color;
  }
  &.link-text{
    color: $global-link-color;
    &:hover, &:focus{
      color: darken($global-link-color, 5%);
    }
  }
  &.link-white{
    color: $white;
    &:hover, &:focus{
      color: $gold;
      text-decoration: underline;
    }
  }
  &.link-underline{
    text-decoration: underline;
    &:hover, &:focus{
      text-decoration: none;
    }
  }
}

p {
  margin-top: 0;
  margin-bottom:             10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
}

.full {
  height: 100%;
  display: flex;
}

.full__body {
  flex:                      1 0 auto;
}

.section {
  width: 100%;
}

[hidden] {
  display: none;
}

.min-full {
  min-height: 100%;
}

hr{
  border: none;
  background-color: $light-gray;
  height: 1px;
}

// Remove all animation on resize
.resize-animation-stopper * {
  animation: none !important;
  transition: none !important;
}

.leaves-separator{
  position: absolute;
  left: 0;
  width: 100%;
  height: 90px;
  bottom: -45px;
  &.on-top{
    bottom: auto;
    top: -45px;
  }
}

// Product Thumbnail styles

.item-wrapper{
  border: 1px solid transparent;
  @include default-transition;
  &:hover{
    border-color: $gold;
    box-shadow: $shadow-3;
  }
  .discount_container{
    min-height: 20px;
  }
}

.item-image{
  @include media-breakpoint-up(md){
    padding: $size-4 $size-4;
  }
}

.item-category{
  @include ellipsis(16px, 1);
  height: 16px;
}

.item-name{
  @include ellipsis(75px, 3);
  height: 75px;
  @include media-breakpoint-down(md){
    @include ellipsis(57px, 3);
    height: 57px;
  }

  // @include media-breakpoint-up(md){
  //   @include ellipsis(42px, 2);
  //   height: 42px;
  // }
}

.quickshop-container .item-name{
  @include media-breakpoint-down(sm){
    @include ellipsis(32px, 2);
    height: 32px;
  }
}


.quickshop-container{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  @include size(100%);
  opacity: 0;
  visibility: hidden;
  &.shown{
    opacity: 1;
    visibility: visible;
  }
}

.legend {
  @include size(24px);
  border-radius: 100%;
  background: $brand;
  color: $white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  & + span {
    margin-left: 8px;
  }
  @include media-breakpoint-down(sm){
    font-size: 14px;
  }
}

.panel{
  border-radius: $global-radius;
  box-shadow: $shadow-2;
  .panel-heading{
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
  }
}

.badge{
  border-radius: $global-radius;
}

.customer-nav{
  .active{
    color: $brand;
  }
}
