// Create button theme
// Parameters:
//      `$btn-bg`     - Button background
//      `$btn-color`  - Button text color
//      `$btn-border` - Button border

@mixin create-button($btn-bg: '#000', $btn-color: $white, $btn-border: '#000') {
  background: $btn-bg;
  color: $btn-color;
  border: 2px solid $btn-border;

  &:hover,
  &:focus {
    background: darken($btn-bg, 5%);
    border-color: darken($btn-bg, 5%);
    color: $btn-color;
  }

  &:disabled {
    pointer-events: none;
    background: lighten($btn-bg, 20%);
    border-color: lighten($btn-bg, 20%);
  }

  // Outline Buttons
  //
  @if $btn-line-enabled {
    &.button--line {
      box-shadow: 0 0 0 5px $btn-bg;
      border: 1px solid $white;
      @include media-breakpoint-down(sm){
        box-shadow: 0 0 0 3px $btn-bg;
      }

      // &:hover,
      // &:focus {
      //   background: $btn-bg;
      //   border-color: $btn-bg;
      //   color: $btn-color;
      // }
    }
  }


  // No border buttons
  //
  @if $btn-text-enabled {
    &.button--text {
      background: transparent;
      border-color: transparent;
      color: $btn-bg;

      &:hover,
      &:focus {
        background: $btn-bg;
        border-color: $btn-bg;
        color: $btn-color;
      }
    }
  }
}
