// Given an opacity value, generates that value
// as well as a way to display that opacity value
// in Internet Explorer 8 and 9.
// @access public
// @param {Float} $opacity - Opacity
// @example scss - Usage
//   .foo {
//     @include opacity(0.5);
//   }
// @example css - Result
//   .foo {
//     opacity: 0.5;
//     filter:
//     "progid:DXImageTransform.Microsoft.
//     Alpha(Opacity=#50)";
//   }

@mixin default-transition {
  @include animate(all, 0.3s, ease)
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

@mixin shown {
  @include opacity(1);
  visibility: visible;
}

@mixin hidden {
  @include opacity(0);
  visibility: hidden;
}
