.background-1 {
  background-image: url(bg.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-cyan-1 {
  background-image: url(cyan-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-cyan-2 {
  background-image: url(cyan-2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.background-cyan-3 {
  background-image: url(cyan-3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
