name: Combine Dependabot PRs
permissions:
  contents: write
  pull-requests: write
  checks: read

on:
  schedule:
    - cron: "0 1 * * 3"
  workflow_dispatch:
    # trunk-ignore-begin(checkov)
    inputs:
      branchPrefix:
        description: Branch prefix to find combinable PRs based on
        required: true
        default: dependabot
      mustBeGreen:
        description: Only combine PRs that are green (status is success). Set to false if repo does not run checks
        type: boolean
        required: true
        default: true
      combineBranchName:
        description: Name of the branch to combine PRs into
        required: true
        default: combine-prs-branch
      ignoreLabel:
        description: Exclude PRs with this label
        required: true
        default: nocombine
    # trunk-ignore-end(checkov)

jobs:
  combine-prs:
    name: Combine Dependabot PRs
    runs-on: ubuntu-latest
    steps:
      - name: combine-prs
        uses: github/combine-prs@v3.1.2
        with:
          branch_prefix: ${{ github.event.inputs.branchPrefix }}
          ci_required: ${{ github.event.inputs.mustBeGreen }}
          combine_branch_name: ${{ github.event.inputs.combineBranchName }}
          ignore_label: ${{ github.event.inputs.ignoreLabel }}
