<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Cyan★Nyan♪ | ListenBrainz Now Playing Banner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="content-type" content="text/html" />
    <meta charset="UTF-8" />

    <%= render "layouts/favicon" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
